@{
    ViewData["Title"] = "Home Base-Home Page";
}

<div class="jumbotron">
    <h1>Home Base // Baseball games by you, for you!</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Home Base</h2>
        <p>
            Home Base is a community based web site 
            that empowers local players control over 
            when and where they play. Enabling players 
            to connect with Team Captains so they can 
            connect with some balls!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Upcomming features</h2>
        <p>Fill in with updated features (Index.cshtml).</p>
        <p><a class="btn btn-default" href="http://www.eater.com/2017/1/20/14330750/cows-eating-skittles-wisconsin-what">Click Me for Moo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Upcomming features</h2>
        <p>Fill in with updated features (Index.cshtml).</p>
        <p><a class="btn btn-default" href="http://www.eater.com/2017/1/20/14330750/cows-eating-skittles-wisconsin-what">Click Me for Moo &raquo;</a></p>
    </div>
</div>